.navbar {
    background-color: $Eerie-black !important;
    font-family: roboto;
}

.active {
    color: $fuzzy-wuzzy !important;
}

nav {
    background-color: $Eerie-black !important;
}

.bg-negro {
    background-color: $Eerie-black;
}

.navbar-toggler-icon {
    color: $white;
}